.featured-images {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: $spacing-triple auto;
  padding: 0;

  @media screen and (min-width: 1024px){
    max-width: 65em;
  }

  @media screen and (max-width: 800px){
    flex-direction: column;
  }
}

.featured-images__item {
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  color: var(--text-color-inverse);
  display: flex;
  flex: 1;
  font-size: 0.75rem;
  font-weight: bold;
  height: 22rem;
  justify-content: flex-end;
  letter-spacing: 0.05rem;
  margin: $spacing-half 0;
  min-width: 15rem;
  padding: $spacing-base;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  transition: all $transition-duration ease;

  &:hover {
    color: var(--accent-color);
    cursor: pointer;

    .link-icon {
      transform: translateX(3px);
      transition: transform ease $transition-duration;
    }
  }

  @media screen and (min-width: 800px) {
    &:nth-child(even) {
      margin: $spacing-half $spacing-base;
    }
  }

  @media screen and (min-width: 800px) and (max-width: 1023px){
    height: 17rem;
    min-width: 10rem;
  }
}
