$__partner-logo-width: 15rem;

.partners {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  margin: $spacing-triple auto 0;
  padding: 0;

  @media screen and (min-width: 600px) and (max-width: 860px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 860px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (min-width: 1024px) {
    max-width: 65em;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 85em;
  }

  @media screen and (min-width: 1600px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 95em;
  }
}

.partner {
  align-self: baseline;
  list-style-type: none;
  justify-self: center;
  position: relative;
}

.partner__logo {
  max-width: $__partner-logo-width;
}

.partner__link {
  color: $lanca-blue;
  font-size: 0.75rem;
  font-weight: bold;
  height: 100%;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    .partner__name {
      background-color: $lanca-blue;
      color: $white;
      transition: all ease $transition-duration;
    }
  }
}

.partner__name {
  box-sizing: border-box;
  margin: 0;
  max-width: $__partner-logo-width;
  padding: $spacing-base;
}
