.default {
  --viewport-background: #FFFFFF;
  --viewport-background-inverse: #0D3369;
  --text-color: #0D3369;
  --text-color-inverse: #FFFFFF;
  --accent-color: #4894FF;
  --accent-color-hover: #1576ff;
  --logo-color: #FFFFFF;
  --logo-background: #0D3369;
  --hero-slogan-text-color: #FFFFFF;
  --button-text-color: #FFFFFF;
  --header-text-color: #6C7E99;
}
