---
title: Locations | Lanca Sales
---

<div class="page products">
  <h2>
    <%= data.pages.locations.hero.title %>
  </h2>
  <p>
    <%= data.pages.locations.hero.intro %>
  </p>
  <%= link_to data.pages.locations.hero.button_text, "contact", class: "button fade-in page-header-button" %>

  <section class="map" 
    style="<%= background_image(image_path(data.pages.locations.locations_map)) %>"
  >
  </section>

</div>
