---
title: Product Ideas | Lanca Sales
---

<div class="page product-ideas">
  <h2>
    <%= data.pages.productideas.hero.title %>
  </h2>
  <p class="u-marginY-spacing-triple page-intro__text">
    <%= data.pages.productideas.hero.intro %>
  </p>

  <ul class="product-ideas-list">
    <% data.pages.productideas.productideas_list.each do | productideas | %>
      <li class="product-ideas-list__item">
        <%= image_tag productideas.image, class: "product-ideas-list__image" %>
      </li>
    <% end %>
  </ul>

</div>
